.cost-summary {
  background-color: rgb(10, 111, 161);
  color: white;
  border-radius: 10px;
  padding: 20px;
}

.buyer-info-header {
  background-color: rgb(10, 111, 161);
  color: white;
}



.cost-summary .card-title {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: white;
}

.cost-summary .table {
  color: white;
}

.cost-summary .table th, .cost-summary .table td {
  border: none;
}

.cost-summary .table .text-end {
  text-align: right;
}
