.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #556B2F;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sticky__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #556B2F;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li a {
  text-decoration: none;
  color: #fff;
}

.menu.active__menu {
  display: block;
}

.nav__icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mobile__menu {
  display: none;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }

  .navigation.active__menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .mobile__menu {
    display: block;
  }
}

body {
  padding-top: 80px; /* Adjust this value based on the header height */
}
